@page "/menu"
@inject HttpClient HttpClient

<div class="main">
    <ul class="sushi-cards">
        @if (menus != null)
        {
            @foreach (var menu in menus)
            {
                <li style="background-image: url('@menu.ImageUrl')">
                    <div class="sushi-info">
                        <span class="title">@menu.Name</span>
                        @menu.Description
                        <span class="price">@menu.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@code {
    List<SushiMenu> menus;

    protected override async Task OnInitializedAsync()
    {
        menus = await HttpClient.GetFromJsonAsync<List<SushiMenu>>("menus");
    }
}
