@page "/about"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<head>
    <link href="css/index.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <div id="content5">
        <h2>About FoodHub</h2>
    </div>
    <div id="content5">
        <p>FoodHub is a sushi ordering system developped by Bel and Mirza. Together, they are MirzaBel.</p>
        <p>In this system, customers can order from a range of meals, or alacarte if they're not feeling thirsty. If they are picky, they can customise their own sushi rice bowl from the varying ingredients.</p>
        <img src="/images/bellie.jpeg" asp-append-version="true" width="280" />
        <img src="/images/mirza.jpeg" asp-append-version="true" width="280" />
    </div>
</body>



