@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<head>
    <link href="css/index.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="authentication/profile" rel="authentication">

</head>
<body>
    <div id="content1">
        <h1>Hungry?</h1>
    </div>
    <div id="content2">
        <h1>We got you</h1>
    </div>
    <div id="background"></div>
    <button class="button" onclick="window.location.href='authentication/login';">Order Now</button>
</body>
